@use '../vendors/includemedia' as m;
@use '../abstracts/variables' as v;

#header {
  z-index:100;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;

  #header__content-aware {

    @include m.media(">=tablet") {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;
      min-width: 0;

      > * {
        min-width: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        * {
          margin-bottom: 0;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          min-width: 0;
        }
      }
    }

    @include m.media("<tablet") {
      display: none;
    } 
  }

  #header__controls {
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    > * {
      margin-left: 1rem;
    } 
  }
}
