@use '../vendors/includemedia' as m;
@use '../abstracts/variables' as v;

#main{

    #main__content-aware {

        @include m.media(">=tablet") {
            display: none;
        }

        @include m.media("<tablet") {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: space-between;
            min-width: 0;
        
            > * {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                min-width: 0;
            }
        }
    }

    #main__actions-aware {

        @include m.media(">tablet") {
            display: none;
        }

        @include m.media("<=tablet") {
            position: fixed;
            bottom: v.$grid-spacing-width;
            right: 2* v.$grid-spacing-width * v.$grid-spacing-small-screen-multiplicator;
            z-index: 10;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            min-width: 0;

            > * {
                margin: 0.5rem 0;
            }
        }

        @include m.media("<=phone") {
            right: v.$grid-spacing-width * v.$grid-spacing-small-screen-multiplicator;
        }
    }
}