@use '../abstracts/variables' as v;
@use '../vendors/includemedia' as m;

#nav {
  z-index: 110;
  display: flex;
  flex: 1;
  justify-content: center;

  #nav__content {
    background-color: v.$floating_navbar-background-color;
    box-shadow: 0 0.25rem 1.5rem 0 rgba(v.$floating_navbar-background-color, 0.25);
    border-radius: 1.5rem;

    @include m.media(">=tablet") {
      height: inherit;
      width: auto;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      padding: 1.5em;
      padding-top: 7.5rem !important;
  
      #functions,
      #extra {
        > * {
          margin: 1rem auto 0 auto;
        }
      }
    }
  
    @include m.media("<tablet") {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0.5rem;
      width:auto;
  
      #functions,
      #extra {
        display: flex;
        flex-direction: row;
        justify-content: center;
        > * {
          margin: 0.5rem;
        }
      }
    }
  }
}
  